/* Enter your custom styles here */


/*======================= Start custom fonts and custom color on header style ==========================*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
.clCustomFont {
    font-family: 'Raleway', sans-serif;
}

.sapContrastPlus.clCustomHeaderBg {
    background-color: #fff!important;
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMBtnInner {
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMText {
    color: #2f3c48;
}

.sapContrastPlus.sapMIBar-CTX.clCustomHeaderBg .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: transparent;
    color: #346187;
}

.clFormTitleGap .sapUiFormM .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0;
}


/*======================= End custom fonts and custom color on header style ==========================*/

.clBgColor {
    background: #fdfdfd;
    border: 1px solid #cccccc;
}


/*.clWarning:not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,*/


/*.clWarning:not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {*/


/*    color: #f00;*/


/*}*/

.clWarning {
    width: auto!important;
}

.oVisible {
    display: none;
}


/*.ClsubHeadingLineHeight .sapUiFormTitleH5 {height:1rem!important; line-height:1rem!important;}*/

.clTextIndent {
    text-indent: -9999999px;
}

.sapMITBScrollContainer {
    text-align: center;
}

.clOpFooter {
    background: #2f3c47;
}

.messagestrip {
    font-weight: bold !important;
}

.greenlable {
    color: green !important;
}

.redlable {
    color: red !important;
}

.headerButtonsToolBar {
    border: none;
}

.borderStyle {
    padding: 1rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    /*width: 98%;*/
}

.borderStyle .sapUiFormResGridMain>div:nth-child(1),
.borderStyle2 .sapUiFormResGridMain>div:nth-child(1) {
    width: 6rem;
}

.borderStyle2 .sapUiFormResGridCont {
    padding-bottom: 0 !important;
}

.borderStyle2 .sapUiFormResGrid>.sapUiFormResGridMain>div:nth-child(2) {
    width: 20% !important;
}

#id_LOIForm01 .sapUiFormTitle.sapUiFormTitleH6 {
    display: none;
}

.boldText {
    font-weight: 600;
}

.partsOnly .classRCPTable .sapUiTableTr>td,
.classRCPTable .sapUiTableTr>td {
    text-align: center !important;
}

.sapMUCEditBtn {
    display: none;
}

.clDatePicker .sapMInputBaseInner {
    pointer-events: none;
}

.clShipmentInfo .sapMInputBaseHasEndIcons .sapMInputBaseInner {
    pointer-events: none;
}

.clFont01 {
    font-size: 1rem;
}

.clVinDetails h5.sapUiFormTitleH5 {
    height: 0!important;
}

.clMinHeight {
    min-height: 50rem;
}


/*#__page0-cont {*/


/*    height: auto!important;*/


/*}*/

#ObjectPageLayout h5.sapUiFormTitleH5 {
    height: 0!important;
}


/*div#__xmlview1 {*/


/*    top: 3rem!important;*/


/*}*/


/*.sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer {*/


/*    padding-bottom: 0rem!important;*/


/*}*/


/*.hideDltBtn .sapMUCDeleteBtn {*/


/*    visibility:hidden;*/


/*}*/


/*.showDltBtn .sapMUCDeleteBtn {*/


/*    visibility:visible;*/


/*}*/