/* Enter your custom styles here */


/*======================= Start custom fonts and custom color on header style ==========================*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

.clCustomFont {
    font-family: 'Raleway', sans-serif;
}

.sapContrastPlus.clCustomHeaderBg {
    background-color: #fff !important;
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMBtnInner {
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMText {
    color: #2f3c48;
}

.sapContrastPlus.sapMIBar-CTX.clCustomHeaderBg .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: transparent;
    color: #346187;
}

.clFormTitleGap .sapUiFormM .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0 !important;
    display: none;
}


/*======================= End custom fonts and custom color on header style ==========================*/

.clBgColor {
    background: #fdfdfd;
    border: 1px solid #cccccc;
}


/*.clWarning:not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,*/


/*.clWarning:not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {*/


/*    color: #f00;*/


/*}*/

.clWarning {
    width: auto !important;
}

.oVisible {
    display: none;
}


/*.ClsubHeadingLineHeight .sapUiFormTitleH5 {height:1rem!important; line-height:1rem!important;}*/

.clTextIndent {
    text-indent: -9999999px;
}

.sapMITBScrollContainer {
    text-align: center;
}

.clOpFooter {
    background: #2f3c47;
}

.messagestrip {
    font-weight: bold !important;
}

.greenlable {
    color: green !important;
}

.redlable {
    color: red !important;
}

.headerButtonsToolBar {
    border: none;
}

.borderStyle {
    padding: 1rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    /*width: 98%;*/
}

/*.borderStyle .sapUiFormResGridMain>div:nth-child(1),*/
/*.borderStyle2 .sapUiFormResGridMain>div:nth-child(1) {*/
/*    width: 6rem;*/
/*}*/

/*.borderStyle2 .sapUiFormResGridCont {*/
/*    padding-bottom: 0 !important;*/
/*}*/

/*.borderStyle2 .sapUiFormResGrid>.sapUiFormResGridMain>div:nth-child(2) {*/
/*    width: 20% !important;*/
/*}*/

#id_LOIForm01 .sapUiFormTitle.sapUiFormTitleH6 {
    display: none;
}

.boldText {
    font-weight: 600;
}

.partsOnly .classRCPTable .sapUiTableTr>td,
.classRCPTable .sapUiTableTr>td {
    text-align: center !important;
}

.sapMUCEditBtn {
    display: none;
}

.clDatePicker .sapMInputBaseInner {
    /*pointer-events: none;*/
}

.clShipmentInfo .sapMInputBaseHasEndIcons .sapMInputBaseInner {
    /*pointer-events: none;*/
}

.clFont01 {
    font-size: 1rem;
}

.clVinDetails h5.sapUiFormTitleH5 {
    height: 0 !important;

}

.clMinHeight {
    min-height: 42rem;
}

.clClaimInqTable {
    height: 3rem;
}

#ObjectPageLayout h5.sapUiFormTitleH5 {
    height: 0 !important;

}

.sapUxAPObjectPageLayout h5.sapUiFormTitleH5 {
    height: 0 !important;

}

.clCommentFix .sapMFeedListItemFigure {
    float: left;
    height: 1.5rem;
    width: 1.5rem;
}

.clCommentFix .sapMFeedListItemImage {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

html.sap-tablet .clCommentFix .sapMFeedListItemHasFigure,
html.sap-desktop .clCommentFix .sapMFeedListItemHasFigure {
    margin-left: 2.75rem;
}

.clNotReq .sapMInputBaseContentWrapperError {
    border: 1px solid #bfbfbf;
    outline: none;
}


/*Parts - letter of intent*/

.nostyleForm .sapUiFormTitleH5 {
    font-size: 0;
    line-height: 0 !important;
    height: 0 !important;
}

.nostyleForm .sapUiFormResGridCont {
    padding-bottom: 0;
}

.btnPaddings {
    padding: 0 10rem 1rem;
}

.clCoverageTool {
    /*min-height: 300rem;*/
}


/*.clBorderNone .sapMInputBaseContentWrapper {*/


/*    border: none;*/


/*    outline: none;*/


/*    pointer-events: none;*/


/*    cursor: none;*/


/*}*/


/*.clBorderNone .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):hover {*/


/*    border: none;*/


/*    outline: none;*/


/*    pointer-events: none;*/


/*    cursor: none;*/


/*}*/


/*.clBorderNone .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):active {*/


/*    border: none;*/


/*    outline: none;*/


/*    pointer-events: none;*/


/*    cursor: none;*/


/*}*/

.clTextSize {
    font: 1rem bold;
}

span#__xmlview1--idPostalDistInput {
    font-size: 0rem;
}

.clFormTitleGap .sapUiFormResGridCont {
    padding-bottom: 0 !important;
}

.clAttachmentList .sapMUCNoDataPage .sapUiIcon {
    font-size: 3rem !important;
}

.clAttachmentList .sapMUCNoDataPage .sapMUCNoDataText {
    font-size: 1rem;
}

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle) {
    margin-top: 0 !important;
}

.sapMITBContent {
    padding-top: 0 !important;
}

.sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
    margin-bottom: 0 !important;
}

.sapMPanelContent {
    padding-bottom: 0;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: none;
}

.sapUiSizeCompact .sapMTB.sapMTBHeader-CTX {
    height: 1.5rem;
}

.sapMUCItemIconInactive,
.sapMUCItemIcon {
    font-size: 1.5rem;
}

.sapMUCItemPlaceholderInactive,
.sapMUCItemPlaceholder {
    line-height: 2rem;
}

.sapMUCNoDataPage .sapMUCNoDataDescription {
    display: none;
}

.sapMUCNoDataPage .sapMUCNoDataText {
    font-size: .8rem;
}

.sapMUCNoDataPage .sapUiIcon {
    font-size: 2rem !important;
}

.sapUiSizeCompact .sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer {
    padding-bottom: 0 !important;
}

.clSubl70 {
    width: 100%;
}

.clSubl30 {
    width: 100%;
}

.clSubl80 {
    width: 100%;
}

.clSubl20 {
    width: 100%;
}

.clToolbar .sapUiRespGrid>div {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.clSearchBottom {
    margin-bottom: 5rem !important;
}

.clHeaderDetails .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanL12)>.sapMLabel,
.clHeaderDetails .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanXL12)>.sapMLabel {
    text-align: start !important;
}



@media only screen and (min-width: 960px) {
    .clSubl70 {
        width: 70%;
    }

    .clSubl30 {
        width: 30%;
    }

    .clSubl80 {
        width: 80%;
    }

    .clSubl20 {
        width: 20%;
    }
}