/* Enter your custom styles here */


/*======================= Start custom fonts and custom color on header style ==========================*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
.clCustomFont {
    font-family: 'Raleway', sans-serif;
}

.sapContrastPlus.clCustomHeaderBg {
    background-color: #fff!important;
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMBtnInner {
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMText {
    color: #2f3c48;
}

.sapContrastPlus.sapMIBar-CTX.clCustomHeaderBg .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: transparent;
    color: #346187;
}
.clFormTitleGap .sapUiFormM .sapUiFormContainerTitle>.sapUiFormTitle {height:0;}


/*======================= End custom fonts and custom color on header style ==========================*/

.clBgColor {
    background: #fdfdfd;
    border: 1px solid #cccccc;
}
.clWarning  :not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon, .clWarning :not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
	color:#f00;
}

.oVisible {
    display: none;
}
/*.ClsubHeadingLineHeight .sapUiFormTitleH5 {height:1rem!important; line-height:1rem!important;}*/
.clTextIndent {text-indent:-9999999px;}
.sapMITBScrollContainer {text-align:center;}
.clOpFooter {background : #2f3c47;}
.headerButtonsToolBar{border:none;}